* {
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

button {
    background-color: rgb(238, 243, 245);
    margin: 20px;
}

button:hover {
    background-color: rgb(188, 214, 224);
}

h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin-top: 0;
}

input {
    background-color: rgb(238, 243, 245);
    margin: 5px;
}

#logo {
    width: 25vw;
    border: none;
    display: inline;
}

#title {
    text-align: center;
    padding-top: 50px;
}

#zip {
    text-transform: uppercase;
}

[class*="col-"] {
    float: left;
    padding: 15px 30px;
    border: 1px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.footer {
    background-color: rgb(238, 243, 245);
    height: 10vh;
    text-align: center;
}

.footer p {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.header {
    max-height: 50vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../images/skyscrapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.register {
    background-color: rgb(238, 243, 245);
}
